div.container {
	width: 100%;
	margin: 0px;
	padding: 0px;
	max-height: 900px;
	border: 1px solid gray;
}

button {
    display: inline-block;
    vertical-align: top;
}

#lineTool {
    background-image: url( '../images/line.png' );
    background-size: 59px 36px;
    height: 40px;  
    width: 63px;
}

#circleTool {
    background-image: url( '../images/oval.png' );
    background-size: 59px 36px;
    height: 40px;  
    width: 63px;
}

header, footer {
	padding: 1em;
	color: white;
	background-color: black;
	clear: left;
	text-align: center;
}

#middleArea {
	height: 800px;
	max-height: 800px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-flow: row;
}

#middleArea>div.toolArea {
	margin: 0px;
	padding: 1em;
	flex: 1 15%;
	order: 1;
}

#middleArea>div.historyArea {
	margin: 0px;
	padding: 2px;
	flex: 1 15%;
	overflow: auto;
	order: 3;
	border-left: 1px solid gray;
}

#middleArea>div.midArea {
	margin: 0px;
	padding: 0px;
	border-left: 1px solid gray;
	overflow: hidden;
	flex: none;
	order: 2;
}

#canvasArea {
	heigth: 600px;
	width: 800px;
	position: relative;
}

#previewCanvas {
	position: absolute;
	top: 0px;
	left: 0px;
}

div.chatMessages {
	overflow: auto;
	height: 84%;
	width: 800px;
	border-bottom: 1px solid gray;
}

#usermsg{
	width: 670px;
}

#usermsgbtn{
	width: 120px;
}

div.textAndButton{
	display: inline-block;
	width: 800px;
	heigth: 16%;
}

div.chatArea {
	border-top: 1px solid gray;
	height: 200px;
	width: 100%;
}